<script type="text/javascript">
    RED.nodes.registerType('alm-state-machine',{
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            almmodel: {value:"alm_with_ack"},
            almprio: {value:1},
            almd: {value:"dummy description"},
            almaction: {value:"dummy action"},
            almmsg: {value:"dummy message"},
            almarea: {value:"dummy area"}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"alm-state-machine";
        }
    });
</script>

<script type="text/html" data-template-name="alm-state-machine">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-almmodel"><i class="icon-tag"></i> Alarm model</label>
        <!-- <input type="text" id="node-input-almmodel" placeholder="Alarm model"> -->
        <select name="Alarm model" id="node-input-almmodel">
            <option value="event_only">event-only</option>
            <option selected value="alarm_with_ack">alarm-with-ack</option>
            <option value="alarm_with_latch">alarm-with-latch</option>
            <option value="alarm_with_ack_and_latch">alarm-with-ack-and-latch</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-almprio"><i class="icon-tag"></i> Alarm priority</label>
        <input type="number" id="node-input-almprio" placeholder=1 value=1>
    </div>
    <div class="form-row">
        <label for="node-input-description"><i class="icon-tag"></i> Description</label>
        <input type="text" id="node-input-almd" placeholder="Description">
    </div>
    <div class="form-row">
        <label for="node-input-action"><i class="icon-tag"></i> Action</label>
        <input type="text" id="node-input-almaction" placeholder="Action">
    </div>
    <div class="form-row">
        <label for="node-input-message"><i class="icon-tag"></i> Message</label>
        <input type="text" id="node-input-almmsg" placeholder="Message">
    </div>
    <div class="form-row">
        <label for="node-input-area"><i class="icon-tag"></i> Area</label>
        <input type="text" id="node-input-almarea" placeholder="Area">
    </div>
</script>

<script type="text/html" data-help-name="alm-state-machine">
    <p>A simple node that converts the message payloads into all alm-state-machine characters</p>
</script>
